#pipeline:aid:tid:metric:ips
1 ) SHOUTCAST [_m_ddc_bytes]:ma:28291:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
2 ) SHOUTCAST [_m_ddc_bytes]:ma:28298:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
3 ) SHOUTCAST [_m_ddc_bytes]:ma:28297:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
4 ) SHOUTCAST [_m_ddc_bytes]:ma:28671:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
5 ) SHOUTCAST [_m_ddc_bytes]:ma:27749:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
6 ) SHOUTCAST [_m_ddc_bytes]:ma:27783:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
7 ) SHOUTCAST [_m_ddc_bytes]:ma:27782:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
8 ) SHOUTCAST [_m_ddc_bytes]:ma:27781:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
9 ) SHOUTCAST [_m_ddc_bytes]:ma:27780:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
10) SHOUTCAST [_m_ddc_bytes]:ma:27789:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
11) SHOUTCAST [_m_ddc_bytes]:ma:27787:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
12) SHOUTCAST [_m_ddc_bytes]:ma:27786:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
13) SHOUTCAST [_m_ddc_bytes]:ma:27785:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
14) SHOUTCAST [_m_ddc_bytes]:ma:27784:135:sum(_m_ddc_bytes):adb416.central.dna.akamai.com,adb466.central.dna.akamai.com,adb416.east.dna.akamai.com,adb466.east.dna.akamai.com
